body {
    padding-top: 50px;
}

nav {
  background-color: #1B5E20;
}

#movie-details{
  min-height: 300px;
}

.card-group{
	margin:20px 0px 0px 10px;
	margin:auto;
}

.card{
	margin:20px 0px 0px 0px;
}
/*
nav div{
  background-color: none;
  background-image: url("../img/free-wood-texture-vector.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}
*/
/*
header {
  background-color: #555;
}

header h1 {
  float: left;
  font-family: 'Rye', cursive;
  margin: 10px;
}
// css clear fix
header:after{
  content: "";
  display: table;;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 10;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

nav ul li a:hover{
  background-color: #111;
}

#hero {
  position: relative;
  background-image: url("/img/IMG_4472.JPG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 480px;
}

#hero p {
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  color: #fff;
  font-size: 2em;
}
*/
